# Compiled Object files
*.slo
*.lo
*.o
*.d

TCPFileServer/Release/TCPFileServer
UDPFileServer/Release/UDPFileServer
tcpTest/*
udpTest/*

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
OriginalCode/Debug/



